.tectcenter{
  text-align: center;
}

.btnmargin{
  margin-left: 2%;
}

.tablebrd{
  border: solid #f1f1f3;
}

.colwidth5{
  width:5%
}

.colwidth10{
  width:10%
}

.colwidth20{
  width:20%
}

.colwidth15{
  width:15%
}

